- build = @build[input.package.id] || {}

%blockquote.group{data: {group: parent.id}, class: ('visible' if visible)}
  %table
    %tr
      %td.intro
        %label.checkbox.inline
          %input{checked: build.include?(input.id), type: "checkbox", data: {switcher: input.id}}
          = input.title
      %td
        - if input.default
          %input.default{type: 'text', value: input.default, readonly: true, data: {input: input.id}}

        - unless input.enum
          %input.input{type: 'text', placeholder: "enter value", name: "options[#{input.package.id}][#{input.id}]", disabled: !build.include?(input.id), class: ('visible' if build.include?(input.id)), value: build[input.id], data: {input: input.id}}
        - else
          %select.input{name: "options[#{input.package.id}][#{input.id}]", disabled: !build.include?(input.id), class: ('visible' if build.include?(input.id)), data: {input: input.id}}
            - input.enum.each do |option|
              %option{value: option, selected: build[input.id] == option}
                = option