- build = @build[option.package.id] || []

%blockquote.group{data: {group: parent.id}, class: ('visible' if visible)}
  %label.checkbox.inline
    %input{name: "options[#{option.package.id}][#{option.id}]", checked: build.include?(option.id), type: "checkbox", value: true, data: {switcher: option.id}}
    = option.title

  - option.selectors.each do |selector|
    = render(:'_selector.haml', layout: false, locals: {selector: selector, parent: option, visible: build.include?(option.id)})
  - option.options.each do |sub_option|
    = render(:'_option.haml', layout: false, locals: {option: sub_option, parent: option, visible: build.include?(option.id)})
  - option.inputs.each do |sub_input|
    = render(:'_input.haml', layout: false, locals: {input: sub_input, parent: option, visible: build.include?(option.id)})