- build = @build[selector.package.id] || []

%blockquote.group{data: {group: parent.id}, class: ('visible' if visible)}
  %fieldset
    %legend= selector.title
    - selector.options.each do |option|
      %label.radio
        %input{name: "selects[#{option.package.id}][#{selector.id}]", checked: build.include?(option.id), type: 'radio', value: option.id, data: {switcher: option.id, selector: selector.id}}
        = option.title
      - option.options.each do |sub_option|
        = render(:'_option.haml', layout: false, locals: {option: sub_option, parent: option, visible: build.include?(option.id)})
      - option.inputs.each do |sub_input|
        = render(:'_input.haml', layout: false, locals: {input: sub_input, parent: option, visible: build.include?(option.id)})