!!!
%html
  %head
    %title Hospice
    %link{href: '/assets/application.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Gabriela', rel: 'stylesheet', type: 'text/css'}
    %script{src: '/assets/application.js', type: 'text/javascript'}
  %body
    #wrap
      .container
        .row
          .span4
            .intro
              %p.text-right.logo
                %a{href: '/'} | Hospice
              %p.text-right
                %b Hospice.io
                is a service that allows you to pregenerate typical
                %a{href: 'http://www.vagrantup.com/'} Vagrant
                builds.
              %p.text-right
                Use form on the right to enable components you require so we could prepare
                all the configurations you need.

              %form#search{method: 'GET', action: '/'}
                .well.well-small.text-right
                  %h5
                    Load saved configuration:
                  .input-append
                    %input{type: 'text', name: 'keyword', placeholder: "Keyword", value: params[:keyword]}
                    %button.btn.btn-success{type: 'submit'} Go
                    %a.btn.btn-danger{href: '/'} Reset

              %p.credit.muted.text-right
                %small
                  Presented by
                  %a{href: 'http://github.com/aderyabin'} Andrey Deryabin
                  and
                  %a{href: 'http://staal.io'} Boris Staal
                  %br
                  Hosted by
                  %a{href: 'http://www.heroku.com'} Heroku
                  and served by
                  %a{href: 'http://www.sinatrarb.com/'} Sinatra

          .span8
            %h2 Generate Vagrant configuration
            .alert.alert-info.guide
              You can start from choosing one of typical patterns
            .row
              .span8
                %a.btn{href: "/?pattern=Rails"} Rails
                %a.btn{href: "/?pattern=Sinatra"} Sinatra
                %a.btn{href: "/?pattern=Django"} Django
                %a.btn{href: "/?pattern=LAMP"} LAMP
            .alert.guide
              Select services you would like to enable at a Vagrant box
            %form{method: 'POST', action: '/', autocomplete: 'off'}
              - Hospice.categories.each do |category|
                %input.search-query{type: 'text', placeholder: 'Filter...', data: {category: category.id}}
                %fieldset
                  %legend= category.name
                  - category.packages.each do |package|
                    .category{data: {category: category.id}}
                      %label.checkbox.package
                        %input{type: "checkbox", name: "packages[#{package.id}]", value: true, data: {switcher: package.id}}
                        %span= package.name

                      - package.selectors.each do |selector|
                        = haml(:_selector, layout: false, locals: {selector: selector, parent: package})
                      - package.options.each do |sub_option|
                        = haml(:_option, layout: false, locals: {option: sub_option, parent: package})

              .form-actions
                %input.input-xlarge{type: 'text', name: 'keyword', placeholder: 'Keyword to store configuration (optional)'}
                .pull-right
                  %input.btn.btn-primary{type: 'submit', value: 'Generate'}
    #call
      .container
        .row
          .span12
            %p.text-center
              %b Call for arms!
              Please help us to make this service better by providing additional packages and patterns: read
              %a{href: 'https://github.com/aderyabin/hospice#please-contribute'}instructions at Github
              to jump in.

    %a{:href => "https://github.com/aderyabin/hospice"}
      %img{:alt => "Fork me on GitHub", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", :style => "position: absolute; top: 0; right: 0; border: 0;"}/