!!!
%html
  %head
    %title Hospice
    %link{href: '/assets/application.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Gabriela', rel: 'stylesheet', type: 'text/css'}
    %link{ href: '/assets/favicon.ico', rel: 'shortcut icon', type: 'image/ico' }
    %script{src: '/assets/application.js', type: 'text/javascript'}
  %body
    #wrap
      .container
        .row
          .span4
            .intro
              %p.text-right.logo
                %a{href: '/'} | Hospice
              %p.text-right
                %b Hospice.io
                is a service that allows you to pregenerate typical
                %a{href: 'http://www.vagrantup.com/'} Vagrant
                builds.
              %p.text-right
                Use form on the right to enable components you require so we could prepare
                all the configurations you need.

              %form#search{method: 'GET', action: '/'}
                .well.well-small.text-right
                  %h5
                    Load saved configuration:
                  .input-append
                    %input{type: 'text', name: 'id', placeholder: "ID", value: params[:id]}
                    %button.btn.btn-success{type: 'submit'} Go

              %p.muted.text-right
                From
                %img{src: '/assets/evil_martians_logo.svg'}
                %a{href: 'http://evl.ms'} Evil Martians
                with love
                %a{href: 'http://evl.ms'}
                %i.icon-heart


              %p.credit.muted.text-right
                %small
                  Presented by
                  %a{href: 'http://github.com/aderyabin'} Andrew Deryabin
                  &amp;
                  %a{href: 'http://staal.io'} Boris Staal
                  %br
                  Hosted at
                  %a{href: 'http://www.heroku.com'} Heroku
                  and served with
                  %a{href: 'http://www.sinatrarb.com/'} Sinatra

          .span8
            %h2 Generate Vagrant configuration
            .alert.alert-info.guide
              You can start from choosing one of typical patterns
            .row
              .span8
                - Hospice::Pattern.all.each do |pattern|
                  %a.btn{href: "/?pattern=#{pattern.id}", class: ("btn-info" if @pattern == pattern)}
                    = pattern.title
            .alert.guide
              Select services you would like to enable at a Vagrant box
            %form#data{method: 'POST', action: '/', autocomplete: 'off'}
              - Hospice.categories.each do |category|
                %input.search-query{type: 'text', placeholder: 'Filter...', data: {category: category.id}}
                %fieldset
                  %legend= category.title
                  - category.packages.each do |package|
                    .category{data: {category: category.id}}
                      %label.checkbox.package
                        %input{type: "checkbox", checked: (!@build[package.id].nil?), name: "packages[#{package.id}]", value: true, data: {switcher: package.id}}
                        %span= package.title

                      - package.selectors.each do |selector|
                        = haml(:_selector, layout: false, locals: {selector: selector, parent: package, visible: !@build[package.id].nil?})
                      - package.options.each do |sub_option|
                        = haml(:_option, layout: false, locals: {option: sub_option, parent: package, visible: !@build[package.id].nil?})
                      - package.inputs.each do |input|
                        = haml(:_input, layout: false, locals: {input: input, parent: package, visible: !@build[package.id].nil?})

              .form-actions
                .pull-right
                  %input.btn.btn-primary{type: 'submit', value: 'Generate'}
                #id
                  .help
                    %i.icon-info-sign
                    %span.muted An unique ID will be provided for every build you generate
                  .spiner
                    %i.icon-refresh
                    %span Generating! Please wait...
                  .generated
                    %i.icon-ok-sign
                    %span.muted Shared ID:
                    %span.id

              #help.well
                %h4 How to use
                %p
                  The ZIP file you are downloading contains two files: Vagrantfile and Cheffile.

                %ol
                  %li
                    %b Vagrantfile
                    is a main
                    %a{href: 'http://vagrantup.com/'} Vagrant
                    configuration. Typically it is supposed to be placed at the root of your project. Just put it whenever you want your box root should be. Additional documentation can be found
                    %a{href: 'http://docs.vagrantup.com/v2/vagrantfile/index.html'} here.
                  %li
                    %b Cheffile
                    describes sources of cookbooks we use to provision packages you demanded. It's used by
                    %a{href: 'https://github.com/applicationsonline/librarian'} Librarian
                    to download all the cookbooks you need including referenced dependencies. Unless you already have it install it using `gem install librarian` command.

                %p To finalize the setup and run your box you should:

                %ul
                  %li put both of files to the root of your project (it will be the root of a virtual box)
                  %li
                    run 
                    %code librarian-chef install
                    to grab required cookbooks
                  %li
                    run
                    %code vagrant up
                    to download, provision and start your brand new box environment.


    #call
      .container
        .row
          .span12
            %p.text-center
              %b Call for arms!
              Please help us to make this service better by providing additional packages and patterns: read
              %a{href: 'https://github.com/aderyabin/hospice#please-contribute'}instructions at Github
              to jump in.

    %a{:href => "https://github.com/aderyabin/hospice"}
      %img{:alt => "Fork me on GitHub", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", :style => "position: absolute; top: 0; right: 0; border: 0;"}/